@font-face{
    font-family: chalk_font2;
    src: url('../fonts/chalk_font2.ttf');
}

@font-face{
    font-family: chalk_font1;
    src: url('../fonts/chalk_font1.ttf');
}
@font-face{
    font-family: chalk_font3_1;
    src: url('../fonts/chalk_font3_1.ttf');
}
@font-face{
    font-family: chalk_font3_2;
    src: url('../fonts/chalk_font3_2.ttf');
}
body {
    
}

/*//////////////////////////////*/
/*////[full game container]/////*/
/*//////////////////////////////*/

.page {
    margin: 50px auto;
    border: 1px solid rgba(0,0,0,0.3);
    height: 700px;
    width: 900px;
    position: relative;
    #background-color: rgba(0,0,0,0.3);
    background-image:url(../images/chalkboard_wood.jpg);
    background-position: center;
    background-size: 500px 500px;
    background-repeat: repeat;
}


/*///////////////////////*/
/*////[ game board ]/////*/
/*///////////////////////*/

.game_board {
    #border: 1px solid rgba(0,0,0,0.3);
    height: 590px;
    width: 600px;
    position: relative;
    #display: block;
    #bottom: 15px;
    left: 20px;
    text-align: center;
    background-image:url(../images/chalkboard.jpg);
    background-position: left;
    background-size: 150% 590px;
    background-repeat: no-repeat;
    top: 30px;
    #bottom: 0px;
}

.squares {
    #border: 1px solid rgba(255,255,255,0.3);
    width: 33%;
    height: 33%;
    float: left;
    #display: inline-block;
    #position: relative;
    #background-color: rgba(0,0,0,.3);
    #width: 200px;
    #height: 200px;
    #margin-top: 0px;
    #padding: 2px;
    #top: 50%;
}

#r1_c2 {
    border-left: 3px solid rgba(255,255,255,0.3);
    border-right: 3px solid rgba(255,255,255,0.3);
}
#r2_c1 {
    border-top: 3px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.3);
}
#r2_c3 {
    border-top: 3px solid rgba(255,255,255,0.3);
    border-bottom: 3px solid rgba(255,255,255,0.3);
}
#r2_c2 {
    border: 3px solid rgba(255,255,255,0.3);
}
#r3_c2 {
    border-left: 3px solid rgba(255,255,255,0.3);
    border-right: 3px solid rgba(255,255,255,0.3);
}


/*//////////////////////*/
/*////[ reset box ]/////*/
/*//////////////////////*/

.button_box {
    #border: 1px dotted rgba(0,0,0,0.3);
    width: 860px;
    height: 50px;
    position: relative;
    display: inline-block;
    top: 15px;
    left: 20px;
    #background-color: rgba(0,0,0,0.3);    
    background-image:url(../images/chalkboard.jpg);
    background-repeat: repeat;
}

.button_box button {
    width: 120px;
    height: 30px;
    float: right;
    margin: 10px;
    font-family: chalk_font1;
    color: rgba(0,0,0,1.0);
    font-size: 20px;
    cursor: pointer;
}
.button_box img {
    position: absolute;
    width: 50px;
}
.button_box h1 {
    font-size: 40px;
    top: -15px;
    color: white;
    position: relative;
    display: inline-block;
    left: 30px;
    font-family: chalk_font1;
}
/*/////////////////////////////*/
/*////[ scores & options ]/////*/
/*/////////////////////////////*/


.scores_options_box {
    width: 240px;
    height: 590px;
    position: absolute;
    float: right;
    bottom: 26px;
    right: 20px;  
    background-image: url(../images/cb.jpg);
    background-position: center;
    background-size: 240px 600px;
    font-family: chalk_font1;
    text-align: center;
    color: rgba(255,255,255,1.0);
}

.score_board {
    width: 220px;
    height: 380px;
    margin: 10px auto;
    #position: relative;
    display: inline-block;
}

.score_board h1 {
    border-bottom: 1px solid rgba(255,255,255,0.9);
}
/*//////[ players scores]////// */

.player1_score, .tie_score, .player2_score {
    font-size: 30px;
    font-weight: 600;
}

.mark_board {
    #border: 1px solid rgba(0,0,0,0.3);
    font-size: 35px;
    width: 180px;
    height: 75px;
    font-family: chalk_font1;
    margin: 0 auto;
    #position: relative;
    display: inline-block;
}


/*//////[ next move ]////// */

.turn_box {
    position: absolute;
    bottom: 0px;
    width: 240px;
    margin: 0 auto;
}

.turn_show {
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.turn_box h1 {
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}

.turn_show h2 {
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
}

input[type="checkbox"] {
    height: 25px; 
    width: 25px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    position: absolute;
    right: 30px;
    background-color: rgba(0,0,0,0,0);
    color: rgba(255,255,255,1.0);
}

