body {
    
}

/*//////////////////////////////*/
/*////[full game container]/////*/
/*//////////////////////////////*/

.page {
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.3);
    height: 700px;
    width: 900px;
    position: relative;
    background-color: rgba(0,0,0,0.3);
}


/*///////////////////////*/
/*////[ game board ]/////*/
/*///////////////////////*/

.game_board {
    #border: 1px solid rgba(0,0,0,0.3);
    height: 600px;
    width: 600px;
    position: absolute;
    display: inline-block;
    bottom: 15px;
    left: 20px;
    text-align: center;
}

.squares {
    #border: 1px dotted rgba(255,255,255,0.3);
    width: 33%;
    height: 33%;
    float: left;
    margin: 1px;
    background-color: rgba(0,0,0,0.3);
}

/*//////////////////////*/
/*////[ reset box ]/////*/
/*//////////////////////*/

.reset_box {
    #border: 1px dotted rgba(0,0,0,0.3);
    width: 860px;
    height: 50px;
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 20px;
    background-color: rgba(0,0,0,0.3);
}

.reset_box button {
    width: 120px;
    height: 30px;
    float: right;
    margin: 10px;
}


/*/////////////////////////////*/
/*////[ scores & options ]/////*/
/*/////////////////////////////*/


.scores_options_box {
    border: 1px dotted rgba(0,0,0,0.0);
    width: 240px;
    height: 600px;
    position: absolute;
    float: right;
    bottom: 15px;
    right: 20px;
    background-color: rgba(255,255,255,1.3);
}

.score_board {
    #border: 1px dotted rgba(0,0,0,0.3);
    width: 210px;
    height: 280px;
    margin: 10px auto;
    background-color: rgba(0,0,0,0.3)
}

.turn_box {
    #border: 1px dotted rgba(0,0,0,0.3);
    width: 210px;
    height: 270px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.3)
}

.turn_show {
    width: 80%;
    margin: 10px auto;
    position: relative;
    top: 0px;
    text-align: center;
    padding: 1px;
    
}
.turn_box h1 {
    text-align: center;
    padding-top: 15px;
}
.turn_show h2 {
    #margin: 15px;
}

input[type="checkbox"] {
    height: 25px; 
    width: 25px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    #padding: 10px;
    margin-left: 10px;
    vertical-align: middle;
    float: right;
}

